@model Dictionary<string,object>

<div>
    <h1>@Model["name"]</h1>
    <br><h5>Description: @Model["description"]</h5>
    <br><h5>Length: @Model["length"] Miles</h5>
    <br><h5>Elevation: @Model["elevation"] feet</h5>
    <br><h5>Latitude: @Model["latitude"]</h5>
    <br><h5>Longitude: @Model["longitude"]</h5>
</div>
